<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ repo.repo }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="card-body">

    <!-- Busy Loader -->
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>

    <mat-tab-group mat-stretch-tabs>
      <!-- Pull Requests Tab -->
      <mat-tab label="Pull Requests">
        <table mat-table [dataSource]="repo?.open_prs" class="mat-elevation-z8 spaced-table">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{ element.title || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef> Source Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element.head?.ref || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element.base?.ref || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{ element.user?.login || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="reviewer">
            <th mat-header-cell *matHeaderCellDef> Reviewer </th>
            <td mat-cell *matCellDef="let element"> {{ element?.reviewer_names[0] || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.html_url" target="_blank"> View </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>

      <!-- Builds Tab -->
      <mat-tab label="Builds">
        <table mat-table [dataSource]="repo?.builds" class="mat-elevation-z8 spaced-table">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{ element.type || 'Build' }} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{ element.display_title || 'Build' }} </td>
          </ng-container>
          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element?.head_branch|| 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="commit">
            <th mat-header-cell *matHeaderCellDef> Commit ID </th>
            <td mat-cell *matCellDef="let element"> {{ element?.head_sha|| 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="{
                'status-success': element.conclusion === 'success',
                'status-inprogress': element.conclusion === 'in_progress',
                'status-failure': element.conclusion === 'failure'
              }">
                {{ element.conclusion || element.status }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{ element.head_commit?.author?.name || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.html_url" target="_blank"> View </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="buildColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: buildColumns;"></tr>
        </table>
      </mat-tab>

      <!-- Recently Closed PRs Tab -->
      <mat-tab label="Recently Closed PRs">
        <table mat-table [dataSource]="repo?.recently_closed_prs" class="mat-elevation-z8 spaced-table">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{ element?.type }} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{ element?.title || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef> Source Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element?.head?.ref || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element?.base?.ref || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{ element?.user?.login || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="reviewer">
            <th mat-header-cell *matHeaderCellDef> Reviewer </th>
            <td mat-cell *matCellDef="let element"> {{ element?.reviewer_names[0] || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element?.html_url" target="_blank"> View </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>

      <!-- Versions Tab -->
      <mat-tab label="Versions">
        <table mat-table [dataSource]="versionInfoArray" class="mat-elevation-z8 spaced-table">
          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> Branch </th>
            <td mat-cell *matCellDef="let element"> {{ element.branch }} </td>
          </ng-container>
          <ng-container matColumnDef="commonLib">
            <th mat-header-cell *matHeaderCellDef> @a200206ui/det-common </th>
            <td mat-cell *matCellDef="let element"> {{ element.versions['@a200206ui/det-common'] || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="wijmo">
            <th mat-header-cell *matHeaderCellDef> @grapecity/wijmo </th>
            <td mat-cell *matCellDef="let element"> {{ element.versions['@grapecity/wijmo'] || 'N/A' }} </td>
          </ng-container>
          <ng-container matColumnDef="coreComponents">
            <th mat-header-cell *matHeaderCellDef> @saffron/core-components </th>
            <td mat-cell *matCellDef="let element"> {{ element.versions['@saffron/core-components'] || 'N/A' }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="versionColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: versionColumns;"></tr>
        </table>
      </mat-tab>
